[submodule "src/tools/gbdebugger/src/external/imgui"]
	path = src/tools/gbdebugger/src/external/imgui
	url = https://github.com/Flix01/imgui.git
[submodule "src/tools/gbdebugger/src/external/imgui-sfml"]
	path = src/tools/gbdebugger/src/external/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml.git
[submodule "src/gameboycore/tests/test_runner/test_roms"]
	path = src/gameboycore/tests/test_runner/test_roms
	url = https://github.com/nnarain/gb-test-roms.git
[submodule "src/tools/gbdebugger/src/external/imgui_club"]
	path = src/tools/gbdebugger/src/external/imgui_club
	url = https://github.com/ocornut/imgui_club
[submodule "src/tools/gbdebugger/src/external/--force"]
	path = src/tools/gbdebugger/src/external/--force
	url = https://github.com/ocornut/imgui_club
