# binary files
bin/*
*.exe
*.o
*.dll
*.so
*.a

build/*

# java
*.class
*.jar

# testing
test/*
*test*
*Test*

# logging
log/*

# dist
dist/*

# docs
docs/*
!refman.pdf

debug/