# 
# Appveyor build 
#
# @author Natesh Narain <nnaraindev@gmail.com>

os: Visual Studio 2015

clone_folder: c:\projects\gameboy

environment:
  GTEST_ROOT: c:\libs\googletest

install:
  - echo "Installing Google Test"
  - git clone --depth=1 https://github.com/google/googletest.git c:\tmp\googletest
  - cd c:\tmp\googletest
  - mkdir build && cd build
  - cmake .. -DBUILD_SHARED_LIBS=ON -DCMAKE_INSTALL_PREFIX=c:\libs\googletest
  - msbuild googletest-distribution.sln /verbosity:quiet
  - msbuild INSTALL.vcxproj /verbosity:quiet
  - set PATH=%PATH%;%GTEST_ROOT%\lib

before_build:
  - echo "Generating Visual Studio Solution..."
  - cd c:\projects\gameboy
  - mkdir build && cd build
  - cmake -G "Visual Studio 14 2015" ..

build:
  project: c:\projects\gameboy\build\gameboy.sln
  verbosity: minimal

after_build:
  - C:\projects\gameboy\build\tests\Debug\gameboy_tests.exe
